<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="/login" class="navbar-brand">FlightApp</a>
    <ul class="navbar-nav mr-auto" routerLinkActive="active" *ngIf="isLoggedIn">
      <li class="nav-item" *ngIf="showAdmin">
        <a class="nav-link" routerLink="/airline">Airlines</a>
      </li>
      <li class="nav-item" *ngIf="showAdmin">
        <a class="nav-link" routerLink="/flight">Flights</a>
      </li>
      <li class="nav-item" *ngIf="showAdmin">
        <a class="nav-link" routerLink="/airport">Airports</a>
      </li>
      <li class="nav-item" *ngIf="showUser">
        <a class="nav-link" routerLink="/bookingmainpage">Book Tickets</a>
      </li>
      <li class="nav-item" *ngIf="showUser">
        <a class="nav-link" routerLink="/bookinglist">Booking History</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
      <li class="nav-item">
        <a href="/register" class="nav-link" routerLink="register">Sign Up</a>
      </li>
      <li class="nav-item">
        <a href="/login" class="nav-link" routerLink="login">Login</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
      <li class="nav-item">
        <a class="nav-link" routerLink="profile"> Welcome {{username}}</a>
      </li>
      <li class="nav-item">
        <a href="" class="nav-link" (click)="logout()">LogOut</a>
      </li>
    </ul>
  </nav>

  <div >
    <router-outlet></router-outlet>
  </div>
  
</div>